<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hello world!</title>
</head>

<body>
  <div style="margin: 10px 15px; font-size: 18px;">Name: {{ username }}</div>
  <div style="margin: 10px 15px; font-size: 18px;">Profession: {{ user_profession }}</div>
  <div style="margin: 10px 15px; font-size: 18px;">Hobbies: {{ user_hobbies }}</div>
  <div style="margin: 10px 15px; font-size: 18px;">Passionate: {{ user_passionate }}</div>
  <div style="margin: 10px 15px; font-size: 16px;"> - The image of your vision of the future</div>
  <div style="margin: 0px 30px 15px 45px; width: 80%;">
    <img src={{imgUrl}} style="width: 100%;" />
  </div>
  <div style="margin: 10px 15px; font-size: 16px;"> - Story about your vision of the future</div>
  <div style="margin: 0px 30px 15px 35px; width: 97%;">
    {{ gpt1txt }}
  </div>
  <div style="margin: 10px 15px; font-size: 16px;"> - Plan to achieve the vision of your future</div>
  <div style="margin: 0px 30px 15px 35px; width: 97%;">
    {{ gpt2txt }}
  </div>
  <div style="margin: 10px 15px; font-size: 16px;"> - Video of the vision of your future</div>
  <div style="margin: 0px 30px 15px 45px; width: 80%;">
    <img src={{thumbImgUrl}} style="width: 100%;" />
  </div>
</body>

</html>